@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');
/* Font chosen to fit the child friendly theme */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400..800&display=swap');
/* New font chosen to fit islander and child friendly theme */

body {
    font-family: 'Baloo Paaji 2', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    color: #673ab7;
}

html {
    font-family: "Baloo Paaji 2",'Play', sans-serif;
    scroll-behavior: smooth;
}

body {
    background: url(/assets/images/indexbackground.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    position: relative;
}

.container {
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.instructions {
    margin-bottom: 20px;
}

.difficulty {
    margin-top: 20px;
}

.difficulty-button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #673ab7;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease; /* transition for smooth animation */
}

.difficulty-button:hover {
    background-color: #512aa8; /* shade on hover */
    transform: scale(1.05); /* scaling on hover */
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(100 100 100 / 0.3);
    width: 100%;
    height: 100%;
    z-index: -1;
}
