@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');
/* Font chosen to fit the child friendly theme */

/* Adjustment of the main content */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

:root {
    --white: #ffffff;
    --violet: #673ab7; 

}
/* Style for the html */
html {
    font-family: 'Play', sans-serif;
    font-size: 62.5%;
    font-weight: 400;
    line-height: 1.6;
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none; 
}
/* Targeting the h1 element */
h1 {
    text-align: center;
    font-size: 2.5rem;
    text-transform: capitalize;
    color: var(--violet);
    padding: 2rem 0;
}
/* H3 Styling added */
h3 {
    font-size: 2rem;
    padding: 2rem 0;
    text-transform: capitalize;
    color: var(--violet);
    padding: 2rem;

}
/* Container being targeted */
.container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-left: auto;
    margin-right: auto;
}

@media(min-width: 576){
    .container {
        width: 540px;
    }
}
@media(min-width: 768){
    .container {
        width: 720px;
    }
}
@media(min-width: 992px){
    .container {
        width: 960px;
    }
}
@media(min-width: 1200px){
    .container {
        width: 1140px;
    }
}
@media(min-width: 1400px){
    .container {
        width: 1320px;
    }
}
/* Box content section targeted */
.box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.box .count {
    font-size: 2rem;
    font-weight: 700;
    color: var(--violet);
    text-transform: capitalize;
    padding: 2rem;
}

/* Target flag style */
.flags {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}